<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fri.hesudi.falldetect"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:icon="@drawable/icon2">
        
        <activity
            android:name="fri.hesudi.falldetect.MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fri.hesudi.falldetect.ReadAccelData" />
        <activity android:name="fri.hesudi.falldetect.DisplayMessageActivity" />
            
    </application>

</manifest>